html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.column {
    float: left;
    width: 50%;
}

a.link {
    color: black;
    text-decoration: none;
}

p.NameClothes {
    font-weight: 500;
}

#ClothesIndex .column {
    float: left;
    width: 33.33%;
    text-align: center;
    border-radius: 20px;
    z-index: 0;
}
    #ClothesIndex .column:hover {
        background-color: #F5F5F5;
    }


#ViewClothes .column {
    float: left;
    width: 50%;
}

a.buttonBooking {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
    a.buttonBooking::before {
        content: '';
        background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
        animation: glow 15s linear infinite;
    }
    a.buttonBooking:hover::before{
        opacity: 1;
    }
    a.buttonBooking::after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    @keyframes glow{
        0%{
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }


    /*
    .menu {
        padding: 2rem;
        background-color: #fff;
        position: relative;
        width: calc(70px + 2 * 50px + 4rem);
        height: 15px;
        display: flex;
        justify-content: center;
        border-radius: 20px 20px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.075);
    }
    .link {
        display: inline-flex;
        cursor: pointer;
        justify-content: center;
        width: 50px;
        height: 20px;
        border-radius: 99em;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transform-origin: center left;
        transition: width 0.2s ease-in;
        text-decoration: none;
        color: inherit;
    }
    .link::before {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        border-radius: 99em;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateX(100%);
        transform-origin: center right;
        background-color: #eee;
    }
    .link:hover, .link:focus {
        outline: 0;
        width: 140px;
    }
    .link:hover:before, 
    .link:hover .link-title {
        transform: translateX(0);
    }
    .link-icon{
        color: var(--color);
        font-size: 27px !important;
        display: block;
        flex-shrink: 0;
        left: 18px;
        position: absolute;
    }
    .link-title {
        color: var(--color);
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        display: block;
        text-align: center;
        text-indent: 20px;
        width: 100%;
    }
    */
   